
{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
      <div class="row">
        
        <center>
          <div>
            Open above link in your Mobile or Other Laptop
          </div>

          <br> <hr>
          <a target = '_blank' href="/?URL=https://www.instagram.com/p/CofF8nRthEy/">Download Reels by URL</a>
          <hr>

          <form action = "/" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" /> 

            <br> 
            <input type = "submit" value="Upload">  
          </form> 
        </center>

        <hr>
        {% for i in new_path %}
          <h3>
            <li>
                  <a target = '_blank' href="{{i}}">
                    {{os.path.basename(i)}}
                  </a>
            </li>
          </h3>

        <br>
        {% endfor %}

        <hr>
        <a href="/logout/">
          <h5>
            [ Logout ]
          </h5>
        </a>

      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}
